.DS_Store
__pycache__
*.pyc
*.pt
*.pth
*.ckpt
*.bin
*.exe
env
runtime
.idea
output
logs
reference
GPT_weights
SoVITS_weights
TEMP
ffmpeg\bin\ffmpeg.exe
ffmpeg\bin\ffplay.exe
ffmpeg\bin\ffprobe.exe
docker
docker-compose.yaml
.vscode
flagged
Keira.wav
output.wav
smoke.wav
train.spec
install.sh
gweight.txt
gpt-sovits_kaggle.ipynb
GPT_SoVITS_Inference.ipynb
go-webui.ps1
dockerbuild.sh
colab_webui.ipynb

